﻿<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <link rel="shortcut icon" href="Images/fevicon.jpg" />
    <title style="font-weight: bold">Explore • Find places</title>
    <script type="text/javascript" src="js/library/jquery-2.1.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="styles/style.css" />
</head>
<body style="margin: auto;">
    <div id="divWrapper">
        <div id="header">
            <div class="wrap loggedOut">
                <div class="leftSide">
                    <a href="/explore.htm" id="logo">Explore</a>
                    <div class="map-geocoder active" style="float: right; background: white; top: 14px; left: 330px;">
                        <a class="geocode icon-location" title="Use current location" id="lnkSetCurrent"></a>
                        <div class="search" style="border-left: 1px solid rgb(192, 187, 187); top: 0px; right: 0px; padding: 5px 0px 5px 3px; border-bottom-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px;">
                            <input id="txtSearch" type="text" placeholder="Search location,city or state" autocomplete="off" style="border: none;">
                        </div>
                    </div>
                </div>
                <ul class="loggedOutMenu">
                    <li>
                        <div id="fb-root"></div>
                        <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
                        <div id="divUserName"></div>
                    </li>
                    <li>
                        <div class="fb-like" data-href="https://demos.appacitive.com/explore.htm" data-width="150" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                </ul>

            </div>
        </div>
        <div id="container" class="wrap mainContent">
            <div id="explore">
                <div id="mapView">
                </div>
                <a href="javascript:void(0);" class="btn-search hidden" title="search" id="btnShow">
                    <span class="geocode icon-search"></span></a>
                <div id="filterContainer">
                    <div id="filterView">
                        <span href="javascript:void(0);" class="icon-circle-arrow-left" title="hide search"
                            id="btnHide"></span>
                        <div id="searchView">
                            <div class="map-geocoder active">
                                <a class="geocode icon-search" href="#geocode">Geocode</a>
                                <div class="search">
                                    <input id="txtSpecificSearch" type="text" placeholder="what're you looking for">
                                </div>
                            </div>
                        </div>
                        <div id="divProgress" style="position: absolute; left: 10px; top: 80px; width: 100px; height: 10px; width: 280px;">
                            <center>
                                <img id="img-process" src="styles/images/ajax-loader.gif" width="128" height="15"
                                    alt="Loading..."></center>
                        </div>
                        <div id="results">

                            <script type="text/template" id="categoryListTemplate">
                                <div style="text-align: left; color: #222; font-size: 20px; font-weight: bold; position: absolute; left: 10px; top: 15px; margin-bottom: 10px; height: 30px; width: 280px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-transition: all 100ms;">
                                    <span>Categories</span>
                                    <span style="float: right; margin-right: 6px;">{{noOfRecords}}</span>
                                </div>
                                <div class="" style="height: 10px; position: relative; top: 20px; margin-top: 10px; left: 10px; width: 280px;">
                                </div>
                                {{#filters}}
            <div class="map-geocoder {{^notActive}}active{{/notActive}}" style="">
                <a class="geocode icon-{{value}}"></a>
                <span class="category" data-val="{{value}}">{{name}}</span>
                <span class="number" style="margin-right: 10px; float: right;">{{count}}</span>
            </div>
                                {{/filters}}
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="./images/footer.png" style="float: right">
    </div>
    <script type="text/template" id="infoWindowTemplate">
        <div class="overlay" data-id="{{id}}">
            <div class="location">
                <div class="name fn">
                    <!--<span class="venueScore {{ratingClass}}" title="">{{rating}}</span>-->
                    <a href="/details.htm?identifier={{id}}" target="_blank">{{name}}</a>
                </div>
                <div>
                    <span class="adr addr-properties" style="width: 50%">

                        <span id="addSpan" class="address street-address">{{address}}</span>
                        <span class="cross-street">{{street}}</span>
                        <span class="city-state ellipsis">
                            <span>{{cityState}}</span>
                        </span>

                    </span>
                    <span class="photo" style="width: 50%">
                        <img class="photo photo-pro" src="{{photo}}" width="50" height="50" alt="" />
                    </span>
                </div>

            </div>
        </div>
    </script>
    <script type="text/template" id="categoryListTemplate">
        <div style="text-align: left; color: #222; font-size: 20px; font-weight: bold; position: absolute; left: 10px; top: 15px; margin-bottom: 10px; height: 30px; width: 280px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-transition: all 100ms;">
            <span>Categories</span>
            <span style="float: right; margin-right: 6px;">{{noOfRecords}}</span>
        </div>
        <div class="" style="height: 10px; position: relative; top: 20px; margin-top: 10px; left: 10px; width: 280px;">
        </div>
        {{#filters}}
            <div class="map-geocoder {{^notActive}}active{{/notActive}}" style="">
                <a class="geocode icon-{{value}}"></a>
                <span class="category" data-val="{{value}}">{{name}}</span>
                <span class="number" style="margin-right: 10px; float: right;">{{count}}</span>
            </div>
        {{/filters}}
    </script>
    <script type="text/javascript">

        $('#btnHide').click(function () {
            $(this).hide();
            $('#filterContainer').animate({ width: 'hide' }, 500, function () {
                $('#btnShow').show();
            });
        });

        $('#btnShow').click(function () {
            $(this).hide();
            $('#filterContainer').animate({ width: 'show' }, 500, function () {
                $('#btnHide').show();
            });
        });

    </script>
    <script type="text/javascript" src="js/model/CategoryPlaceMap.js"></script>
    <script type="text/javascript" src="js/model/Location.js"></script>
    <script type="text/javascript" src="js/controller/customGoogleMap.js"></script>
    <script type="text/javascript" src="js/library/handlebars-v1.3.0.js"></script>
    <script src="js/view/infowindow.js"></script>
    <script type="text/javascript" src="js/view/marker.js"></script>
    <script type="text/javascript" src="js/view/filterPanel.js"></script>
    <script src="js/model/facebook.js" type="text/javascript"></script>
</body>
</html>
