/*for 8 digit in corner*/

.body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.text-color {
    border-radius: 4px;
    background-color: #3C3C3C;
}

.custom-navbar {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0PX;
}

.foot-text-1 {
    color: #8e8e8e;
    margin-left: 4%;
}

.foot-text-2 {
    color: #8e8e8e;
    margin-left: 1%;
    font-size: 0.5em;
}

.text3 {
    color: #8e8e8e;
    padding-left: 90%;
}

.primary_header {
    background-color: #333333;
    margin-left: -30px;
    margin-right: -30px;
}

.headerline2 {
    /*height:45px;*/
    background-color: #222222;
    margin-top: 5px;
}

.headerline3 {
    /*height:35px;*/
    background-color: #232323;
}


.headertext2 {
    font-size: 1em;
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tertiary_header {
    font-size: 1em;
    color: #888888;
}

.header-img-logo {
    padding-top: 20px;
}

.copyright {
    color: #888888;
    padding-right: 110px;
}

.glyphicon-shopping-cart {
    color: #8e8e8e;
    margin-top: 4%;
    padding-right: 5px;
}

.glyphicon-search {
    color: #8e8e8e;
    margin-top: 4%;
    padding-right: 5px;
    padding-left: 5px;
}

.flagdimension {
    width: 20px;
    height: 15px;
    margin-top: 90%;
}

.dimension {
    width: 20px;
    height: 15px;
}

text2-drop {
    color: #FFFFFF;
}

.phone {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: initial;
    margin-right: 10%;
}

.logo {
    align-self: center;
}

.uname {
    color: #FFFFFF;
    padding-left: 20px;
}

.container-fluid-header {
    margin-left: 10%;
    margin-right: 10%;
}

.page-footer-content ul {
    list-style: none;
    color: gray;
    margin: 0px;
    padding: 0px;
}

.text-color {
    border-radius: 4PX;
    background-color: #3C3C3C;
    color: white;
}

.page-footer-bottom {
    background-color: #151515;
    margin-top: 0;
}

.page-footer-content {
    margin-top: 0;
    margin-left: 60px;
    margin-right: 60px;
    color: white;
}

.page-footer {
    background-color: #2E2E2E;
    margin-top: 0;
}

.page-footer-bottom-contents {
    margin-top: 0;
    margin-left: 60px;
    margin-right: 60px;
}

.list_footer {
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9em;
}

    .list_footer:hover {
        color: white;
    }



.adjust {
    padding-top: 0%;
}

.custom-headr {
    margin-left: 0.5em;
}

.modify-search-button {
    margin-left: 20px;
    padding-top: 10px;
}

.denver {
    margin-top: 0em;
}

.adjust2 {
    margin-top: 6%;
    padding-left: 17%;
}




.cc {
    color: gray;
}


.headerline1 {
    /*height:35px;*/
    background-color: #333333;
    max-height: 50px;
}

.shopping-cart-div {
    float: right;
}

.headerline2 {
    /*height:45px;*/
    background-color: #222222;
}

.travelnxt-logo-div {
    float: left;
    height: 41px;
    width: 135px;
}

.user-info-div {
    float: right;
    margin-right: 10%;
}

.tertiary_header {
    /*height:35px;*/
    background-color: #232323;
}

.nav-links-div {
    float: left;
}

.call-experts-div {
    float: right;
}

.primary_header_text {
    float: right;
}

.secondary_header {
    font-size: 16px;
    color: #888888;
}

.custom-modify-button {
    display: inline-block;
    padding-top: 1em;
}

.header_text_line3 {
    font-size: 16px;
    color: #888888;
}


.glyphi-8 {
    background: #F89406;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 24px;
    margin-top: 4%;
    color: #FFFFFF;
}

.glyphicon-shopping-cart {
    color: #8e8e8e;
    margin-top: 6%;
    padding-right: 5px;
}

.glyphicon-search {
    color: #8e8e8e;
    margin-top: 6%;
    padding-right: 5px;
    padding-left: 5px;
}

.flagdimension {
    width: 20px;
    height: 15px;
    margin-top: 90%;
}

text2-drop {
    color: #FFFFFF;
}

.phone {
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 10%;
}

.uname {
    color: #FFFFFF;
    padding-left: 20px;
}

.container-header {
}

.container-fluid-header {
    margin-left: 10%;
    margin-right: 10%;
}

.div-margin-left {
    margin-left: 10%;
}

.div-margin-right {
    margin-left: 10%;
}

.page-footer-bottom-spacing {
    margin-left: 0%;
    color: #8e8e8e;
}

.page-footer {
    background-color: #2E2E2E;
    margin-top: 0;
}

.page-footer-content {
    margin-top: 0;
    margin-left: 60px;
    margin-right: 60px;
    color: white;
}

    .page-footer-content ul {
        list-style: none;
        color: gray;
        margin: 0px;
        padding: 0px;
    }

.page-footer-bottom {
    background-color: #151515;
    margin-top: 0;
}

.start-bottom-footer {
    margin-left: 4.3%;
    color: #888888;
}

.link-color-change {
    color: #888888;
}

    .link-color-change:hover {
        color: #FFFFFF;
    }

.footer-bottom-spacing {
    margin-left: 2%;
}

.margin-left-footer {
    margin-left: 0;
}

.main-logo {
    visibility: hidden;
}

.nav-links-div-hide {
    visibility: hidden;
}







/*Bhagyashree*/






.full-details {
    border-color: #ddd;
    border-style: solid;
    border-width: thin;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -1px;
    border-top-width: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    background-color: #FAFAFA;
}



    .full-details .custom-row-1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border: none;
        border-top-style: dashed;
        border-top-color: #ddd;
        border-top-width: 1px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .full-details .custom-row-2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .full-details .row-change-flight {
        background-color: #FBABAB;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
    }

    .full-details .col-color-gray {
        color: #808080;
    }

    .full-details .col-style-bold {
        font-weight: 600;
    }

    .full-details .row {
        padding-bottom: 0.5em;
    }

.dotted-gray-border {
    border-top: 1px dashed #c8c6c6;
    color: #000;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
}


.display-total-details {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.5em;
    font-size: 12px;
}

    .display-total-details .fare-rules {
        padding-left: 9px;
    }

    .display-total-details .fare-break {
        margin-left: -5px;
        padding-right: 0px;
    }

    .display-total-details .total-button {
        padding-left: 40px;
    }

    .display-total-details .total-amt {
        padding-top: -10px;
        margin-left: -70px;
        margin-top: -6px;
        font-size: 1.7em;
        color: #EC971F;
    }


@media all and (min-width:360px) {

    .full-details {
        margin-left: 2px;
        margin-right: 2px;
    }

        .full-details .hrs {
            padding-left: 13px;
        }

        .full-details .col-hide {
            display: none;
        }

        .full-details .row-hide {
            display: block;
        }

        .full-details .image-hide {
            padding-left: 32px;
        }

        .full-details .fri-hide {
            margin-left: -57px;
        }

    .display-total-details .col-comm {
        padding-left: 0px;
    }

    .display-total-details .fare-rules {
        padding-left: 0px;
    }

    .display-total-details .total-amt {
        padding-left: 80px;
        font-size: 1.5em;
    }

    .display-total-details .total-text {
        margin-left: 55px;
    }

    .display-total-details .total-button {
        padding-left: 60px;
        font-size: 1em;
        margin-left: -95px;
    }
}


@media all and (min-width:768px) {

    .full-details .col-hide {
        display: block;
    }

    .display-total-details .total-amt {
        padding-left: 81px;
    }

    .display-total-details .total-button {
        margin-left: -52px;
    }

    .display-total-details .total-text {
        margin-left: -30px;
    }

    .full-details {
        margin-left: 6px;
        margin-right: 6px;
    }

        .full-details .fare-rules {
            padding-left: 6px;
        }
        .display-total-details .fare-rules {
        margin-left: 8px;
    }
}



@media all and (min-width:800px) {

    .display-total-details .total-amt {
        padding-left: 81px;
    }

    .display-total-details .total-button {
        margin-left: -45px;
    }

    .display-total-details .total-text {
        margin-left: -20px;
    }

    .full-details .fri-hide {
        margin-left: -5px;
    }

    .full-details .col-hide {
        display: block;
    }
    .display-total-details .fare-rules {
        margin-left: 8px;
    }
}

@media all and (min-width:980px) {

    .full-details {
        margin-left: 8px;
        margin-right: 8px;
    }
    .display-total-details .total-amt {
        padding-left: 60px;
    }

    .display-total-details .total-button {
        margin-left: -17px;
    }

    .display-total-details .total-text {
        margin-left: 12px;
    }

    .full-details .col-hide {
        display: block;
    }
    .display-total-details .fare-rules {
        margin-left: 8px;
    }
}

@media all and (min-width:1280px) {

    .full-details {
        margin-left: 8px;
        margin-right: 8px;
    }

    .display-total-details .fare-rules {
        margin-left: 8px;
    }

}














/*Priti*/





.flight-price-details {
    overflow: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.container-fluid-custom {
}


.flight-price-overview .main-container .row .hr-container {
    padding-right: 0px;
    padding-left: 0px;
}

.custom-hr {
    border-top: 1px dashed #c8c6c6;
    color: #000;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.flight-price-details .container-fluid-custom .info-column {
    border: solid 1px #ddd;
    background-color: #FFF;
    display: inline-block;
    width: 200px;
}

    .flight-price-details .container-fluid-custom .info-column .low-price-flag {
        background: url('../images/low-price-tag.png');
        background-repeat: no-repeat;
        opacity: 0.6;
        display: inline-block;
        width: 140px;
        height: 22px;
    }

    .flight-price-details .container-fluid-custom .info-column .low-price-flag-empty {
        background: url('../images/low-price-blank.png');
        opacity: 0.6;
        display: inline-block;
        width: 180px;
        height: 22px;
    }

    .flight-price-details .container-fluid-custom .info-column .price {
        color: #E2770B;
        font-family: "Open Sans", sans-serif;
        font-size: 0.9em;
        display: inline-block;
        padding: 0px 10px 10px 10px;
    }

    .flight-price-details .container-fluid-custom .info-column .non-price {
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-size: 0.9em;
        display: inline-block;
        padding: 0px 10px 10px 10px;
    }

.flight-price-details .container-fluid-custom .img-column {
    border: solid 1px #ddd;
    background-color: #FAFAFA;
    display: inline-block;
    width: 200px;
    padding: 0px 0px 0px 0px;
}

    .flight-price-details .container-fluid-custom .img-column .airline_logo {
        background: url('../images/Logos.png');
        opacity: 0.6;
        display: inline-block;
        width: 50px;
        height: 50px;
    }



.flight-price-details > .container-fluid {
    width: 1220px;
}

.flight-price-overview .main-container .row .col-11-custom {
    padding-left: 0px;
    margin-left: 0px;
    background-color: #FAFAFA;
}

.flight-price-overview .main-container .filter-header {
    padding-left: 0px;
    padding-right: 0px;
}

.display-information {
    display: inline-block;
    width: 100%;
    min-width: 240px;
}

.row .price-info {
    background-color: #E3EFF2;
}


.display-information .applied-filters {
    display: inline-block;
    padding-top: 10px;
}




    .display-information .applied-filters .filter1 {
        display: inline-block;
        background-color: #E3EFF2;
        border: 1px,solid,#E3EFF2;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }


    .display-information .applied-filters .verticalLine {
        border-left: thin solid #0099DD;
        padding-left: 0.5px;
        padding-right: 0.5px;
    }

.display-information .sort-by-float {
    padding-top: 10px;
}

    .display-information .sort-by-float .btn-group .btn-background {
        background-color: #F8F8F8;
    }

.stop-column-container {
    padding-right: 0px;
    margin-right: 0px;
}

    .stop-column-container.empty-column .stop-column {
        height: 55px;
    }

    .stop-column-container .stop-column {
        display: block;
        height: 57px;
        width: 100%;
        border: solid 1px #ddd;
        padding: 11px 10px 12px 10px;
        font-size: 0.8em;
        background-color: #FAFAFA;
    }

    .stop-column-container .stop-column1 {
        display: block;
        height: 58px;
        width: 100%;
        border: solid 1px #ddd;
        padding: 11px 10px 12px 10px;
        font-size: 0.8em;
    }

/*Fonts*/
.display-information .applied-filters .commond-font {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    color: #0099DD;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

display-information .applied-filters .commond-title {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    color: #000;
}


.btn-background {
    background-color: #F8F8F8;
}




/*Sanket and Jayvant*/
.flight-details .turkish-row {
    border: solid 1px #ddd;
    margin-left: 1%;
    margin-right: 1%;
}

.flight-details .delta-row {
    border: solid 1px #ddd;
    margin-left: 1%;
    margin-right: 1%;
}

.flight-details .british-row {
    border: solid 1px #ddd;
    margin-left: 1%;
    margin-right: 1%;
}

.flight-details .label-danger {
    background-color: red;
    height: 22px;
    margin-right: -15px;
    text-align: center;
}

.flight-details .flight-info {
    padding-right: 0px;
    width: 3%;
    font-size: xx-small;
    font:,;
}

    .flight-details .flight-info .verticle-word {
        font-size: small;
        color: #ddd;
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Opera, Chrome, and Safari */
        margin-top: 70px;
        margin-left: -15px;
    }

.flight-details .flight-logName {
    border-left: solid 1px #ddd;
}

flight-details {
}

.flight-details .flight-logName .flight-name {
    color: #2567A0;
    font-size: 1.7em;
}

.flight-details .flight-logName .flight-den {
    margin-top: 4px;
    margin-left: -21px;
    margin-right: 20px;
}

.flight-details .flight-logName .flight-time {
    font-size: x-small;
    color: #f00;
    text-align: center;
}

.flight-details .flight-logName .flight-las {
    font-size: medium;
    margin-top: 4px;
}

.flight-details .flight-totaltime {
    text-align: right;
    margin-top: 4px;
}


.flight-details .flight-logName .flight-depart {
    border-right: solid 1px #ddd;
}

    .flight-details .flight-logName .flight-depart .depart {
        font-size: xx-small;
        color: #808080;
        margin-bottom: 0;
    }

    .flight-details .flight-logName .flight-depart .depart-time {
        font-size: large;
        margin-bottom: 0;
    }

    .flight-details .flight-logName .flight-depart .depart-date {
        font-size: xx-small;
        color: #808080;
        margin-bottom: 0;
    }

.flight-details .flight-logName .flight-arrive .arrive {
    font-size: xx-small;
    color: #808080;
    margin-bottom: 0;
}

.flight-details .flight-logName .flight-arrive .arrive-time {
    font-size: large;
    margin-bottom: 0;
}

.flight-details .flight-logName .flight-arrive .arrive-date {
    font-size: xx-small;
    color: #808080;
    margin-bottom: 0;
}

.flight-details .flight-logName .flight-arrive {
    border-right: solid 1px #ddd;
}

.flight-details .flight-logName .flight-class .class {
    font-size: xx-small;
    color: #808080;
    margin-bottom: 0;
}

.flight-details .flight-logName .flight-class .economy {
    font-size: large;
    color: #808080;
    margin-bottom: 0;
}

.flight-details .flight-logName .flight-class {
    border-right: solid 1px #ddd;
}

.flight-details .flight-logName .flight-stops .stop {
    font-size: xx-small;
    color: #808080;
    margin-bottom: 0;
}

.flight-details .flight-logName .flight-stops .non-stop {
    font-size: large;
    color: #808080;
    margin-bottom: 0;
}


.flight-flightviewdetails .flight-flighttotaltime {
    font-size: small;
    color: #808080;
}



@media all and (min-width: 362px) {


    .flight-details .turkish-row {
        margin-top: 25px;
        border: solid 1px #ddd;
    }

    .flight-details .flight-ViewDetails {
        color: #b6ff00;
        /*margin-top: 0px;*/
    }
}




@media all and (max-width: 768px) {

    .flight-details .turkish-row {
        margin-top: 30px;
        border: solid 1px #ddd;
    }

    .flight-details .flight-info .verticle-word {
        display: none;
    }

    .flight-details .flight-logName {
        border-left: none;
    }

    .flight-details .flight-flightviewdetails .flight-flighttotaltime {
        margin-top: 4px;
        font-size: small;
        color: #808080;
    }

    .flight-details .flight-logName .flight-arrive {
        border-right: none;
    }

    .flight-details .flight-logName .flight-den {
        margin-top: 4px;
        margin-left: -21px;
        margin-right: 20px;
        text-align: right;
    }
}




@media all and (max-width: 980px) {

    .flight-details .turkish-row {
        margin-top: 30px;
        border: solid 1px #ddd;
    }

    .flight-details .flight-info .verticle-word {
        display: none;
    }

    .flight-details .flight-logName {
        border-left: none;
    }

    .flight-details .flight-flightviewdetails .flight-flighttotaltime {
        font-size: small;
    }

    .flight-details .flight-flightviewdetails .flight-viewdetails {
        color: #b6ff00;
        font-size: small;
    }

    .flight-flightviewdetails {
        text-align: right;
    }

    .flight-details .flight-logName .flight-arrive {
        border-right: none;
    }

    .flight-details .flight-logName .flight-den {
        margin-top: 4px;
        margin-left: -21px;
        margin-right: 20px;
        text-align: right;
    }
}

@media all and (max-width: 640px) {



    .flight-details .flight-ViewDetails {
        color: #b6ff00;
        margin-top: 0px;
    }
}


.open-sansfont {
    font-family: 'Open Sans', sans-serif;
}

@media all and (max-width:800px) {

    .flight-details .turkish-row {
        margin-top: 30px;
        border: solid 1px #ddd;
    }

    .flight-details .flight-flightviewdetails .flight-flighttotaltime {
        font-size: small;
    }
}



@media all and (min-width:1280px) {

    .flight-details .turkish-row {
        margin-top: 30px;
        border: solid 1px #ddd;
    }

    .flight-details .flight-info .verticle-word {
        -webkit-transform: rotate(-90);
        font-size: 12px;
        color: #ddd;
        margin-top: 70px;
        margin-left: -15px;
    }

    .flight-details .flight-flightviewdetails {
        width: 30%;
        text-align: right;
    }


        .flight-details .flight-flightviewdetails .flight-flighttotaltime {
            font-size: small;
        }

        .flight-details .flight-flightviewdetails .flight-viewdetails {
            color: #b6ff00;
            font-size: small;
            padding-top: 7em;
        }
}
/*sanket css start */

.total {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

    .total.total-amt {
        margin-left: 10px;
        margin-right: 20px;
    }

    .total .fr {
        padding-top: 1em;
    }

.fare-breakup {
    padding-right: 28px;
}

.total .no {
    font-size: 16px;
    color: #E27A38;
    padding-right: 50px;
    padding-left: 83px;
}

.total .row1 {
    padding-top: 0.5em;
}

.total .btn1 {
    margin-left: 25px;
}

@media all and (max-width:1023px) {
    .total .btn1 {
        width: 100%;
        height: 20%;
        font-size: 12px;
        /* padding-left:30%;*/
    }
}

@media all and (max-width:767px) {
    .total .btn1 {
        width: 100%;
        height: 20%;
        font-size: 12px;
    }
}



/*Abhijit*/


.airline-list {
    padding-top: 35px;
}

.unbold {
    font-weight: normal;
}

.plane-image {
    width: 5%;
    height: 5%;
}

.set-inputbox-width {
    width: 40%;
    font-size: 12px;
}

.container-filter {
    border: 1px Solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

.container-left-filter {
    border: 1px Solid Black;
    margin-left: 60px;
    /*width:30%;*/
}

.image {
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

.header-font-one {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    vertical-align: middle;
    margin-top: 0.5em;
    color: #000;
    padding-left: 0px;
}

.header-font-two {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000;
}

.header-font-three {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000;
}

.flights-showing {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000;
    padding-left: 3.5em;
}

.norrow-your-search {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    height: 3em;
    background-color: #E9E9EB;
    padding-top: 10px;
    padding-left: 10px;
}

.aligned-to-right {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000;
    padding-right: 0em;
}


.left-input-box {
    font-size: 12px;
    padding-left: 0;
}

.as-text {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.checkbox {
    font-family: "Open Sans", sans-serif;
    padding-left: 14px;
}
/*overriding jquery ui*/
.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: none;
    background-color: #75A7E7;
}

.ui-slider-handle {
    border: 1px solid #eee !important;
    background: none!important;
    background-color: #fff !important;
    border-radius: 100%;
}


.airlines-background {
    background-color: #FFFDE8;
}

.dotted-gray-border {
    border-top: 1px dashed #c8c6c6;
    color: #000;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
}

.airlines {
    width: 85%;
}

.airlines-container {
    padding-left: 2px;
}

.view-alphabetically {
    padding-left: 1em;
}

.reset {
    padding-right: 1em;
}

.india-image {
    height: 2%;
    width: 2%;
}

@media (max-device-width:980px) and (min-device-width:320px) {
    .container-filter {
        display: none;
        visibility: hidden;
    }

    .container-left-filter {
        display: none;
        visibility: hidden;
    }

    .image {
        display: none;
        visibility: hidden;
    }

    .header-font-one {
        display: none;
        visibility: hidden;
    }

    .header-font-two {
        display: none;
        visibility: hidden;
    }

    .header-font-three {
        display: none;
        visibility: hidden;
    }

    .flights-showing {
        display: none;
        visibility: hidden;
    }

    .norrow-your-search {
        display: none;
        visibility: hidden;
    }

    .aligned-to-right {
        display: none;
        visibility: hidden;
    }



    .left-input-box {
        display: none;
        visibility: hidden;
    }

    .as-text {
        display: none;
        visibility: hidden;
    }

    .checkbox {
        display: none;
        visibility: hidden;
    }

    .slider-range-color {
        display: none;
        visibility: hidden;
    }

    .airlines-background {
        display: none;
        visibility: hidden;
    }

    .airlines {
        display: none;
        visibility: hidden;
    }

    .airlines-container {
        display: none;
        visibility: hidden;
    }

    .view-alphabetically {
        display: none;
        visibility: hidden;
    }

    .reset {
        display: none;
        visibility: hidden;
    }

    .india-image {
        display: none;
        visibility: hidden;
    }
}



/*Vaishnavi Media Queries*/
@media (max-device-width:767px) and (min-device-width:100px) {
    .main-logo {
        visibility: visible;
    }

    .nav-links-div-hide {
        visibility: visible;
    }

    .shopping-cart-div {
        visibility: hidden;
        display: none;
    }

    .travelnxt-logo-div {
        visibility: hidden;
        display: none;
    }

    .user-info-div {
        visibility: hidden;
        display: none;
    }

    .nav-links-div {
        visibility: hidden;
        display: none;
    }

    .call-experts-div {
        visibility: hidden;
        display: none;
    }
}




@media (max-device-width:767px) and (min-device-width:805px) {
}

@media (max-device-width:1920px) and (min-device-width:767px) {
    .navbar-header {
        width: 0px;
        height: 0px;
    }

    .main-logo {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    /*.pull-left {
        margin-left: 0%;
    }

    .pull-right {
        margin-right: 0%;
    }*/
}

.adjust-span-to-ul {
    margin-top: -6%;
}
